<div class="row animate__animated animate__fadeIn">
          
    <div class="col-md-6 col-sm-12">
      <div class="card card-statistic-2"> 
        <div class="card-stats">
          <div class="card-stats-title">
            <h3>Mis Cursos</h3>
          </div>
        </div>

        <div class="card-icon shadow-primary bg-primary">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
        
        <div class="card-wrap">
          <div class="card-header">
            <h4>Cursos Asignados</h4>
          </div>
          <div class="card-body">
            59
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="card card-statistic-2"> 
        <div class="card-stats">
          <div class="card-stats-title">
            <h3>Mis Estudiantes</h3>
          </div>
        </div>

        <div class="card-icon shadow-primary bg-primary">
          <i class="fas fa-graduation-cap"></i>
        </div>
        
        <div class="card-wrap">
          <div class="card-header">
            <h4>Estudiantes Asignados</h4>
          </div>
          <div class="card-body">
            59
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    
    <div class="col-12">
      <div class="card card-statistic-2"> 
        <div class="card-stats">
          <div class="card-stats-title">
            <h3>Accesos Directos</h3>
          </div>
        </div>
      
        
        <div class="row">
          <div class="col-12">

            <div class="card card-primary pb-4">                   
              <div class="card-header">
                <div class="row">
                
                  <div class="col-6 float-left">
                    <h5>Ingresar Notas</h5>
                  </div>
                  
                  <div class="col-6 float-right">
                    <a href="#" class="btn btn-info float-right">
                      Seleccionar
                    </a>
                  </div>
                
                </div>
              </div>
            </div>

            <div class="card card-secondary pb-4">                   
              <div class="card-header">
                <div class="row">
                
                  <div class="col-6 float-left">
                    <h5>Mis Notas 2021</h5>
                  </div>
                  
                  <div class="col-6 float-right">
                    <a href="#" class="btn btn-info float-right">
                      Seleccionar
                    </a>
                  </div>
                
                </div>
              </div>
            </div>

            <div class="card card-danger pb-4">                   
              <div class="card-header">
                <div class="row">
                
                  <div class="col-6 float-left">
                    <h5>Cambios en Notas</h5>
                  </div>
                  
                  <div class="col-6 float-right">
                    <a href="#" class="btn btn-info float-right">
                      Seleccionar
                    </a>
                  </div>
                
                </div>
              </div>
            </div>

            <div class="card card-success pb-4">                   
              <div class="card-header">
                <div class="row">
                
                  <div class="col-6 float-left">
                    <h5>Imprimir Tarjetas</h5>
                  </div>
                  
                  <div class="col-6 float-right">
                    <a href="#" class="btn btn-info float-right">
                      Seleccionar
                    </a>
                  </div>
                
                </div>
              </div>
            </div>

          </div>
        </div>
        
      </div>
    </div>

  </div>
