
<div class="main min-vh-100 animate__animated animate__fadeIn" data-background="../../../assets/img/college/bg-caigua-2.jpg" style="overflow-y: hidden;">
  

    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="login-brand">
            <img src="../../../assets/img/college/caigua-logo-full.png" alt="logo" width="100">
            <h2 class="text-light">Mis Notas</h2>
          </div>

          <div class="card card-primary">
            <div class="card-header">
              <h4 style="text-align: center;">Área restringida a encargados</h4>
            </div>

            <div class="card-body">
              <form method="POST" action="#" class="needs-validation" novalidate="">
                <div class="form-group">
                    <label for="dpi">DPI del Encargado Registrado<br> (Sin guiones ni espacios)</label>
                    <input id="email" type="text" class="form-control" name="dpi" tabindex="1" required autofocus placeholder="Ejemplo: 2020122450201">
                    <div class="invalid-feedback">
                        Ingresa un DPI Válido
                    </div>
                </div>

                <div class="form-group">
                    <label for="codigo">Código del Estudiante</label>
                    <input id="password" type="text" class="form-control" name="codigo" tabindex="2" required placeholder="Ejemplo: C816AGE">
                    <div class="invalid-feedback">
                        Ingresa una código válida
                    </div>
                </div>
                
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4" >
                    Descargar Tarjeta
                  </button>
                </div>
              </form>
   

            </div>
          </div>
        </div>
      </div>
    </div>


</div>

